<html>
<mat-toolbar class="tool-bar">
    <div>Bank</div>
    <div class="left-toolbar">
    <a href="#" routerLink = "/home" routerLinkActive= "active">Home</a>
    <a href="#" routerLink = "/javascriptEx" routerLinkActive= "active">JS Examples</a>
    <a href="#" routerLink = "/dashboard" routerLinkActive= "active">Dashboard</a>
    <a href="#" routerLink = "/details" routerLinkActive= "active">Details</a>
    <a href="#" routerLink = "/main" routerLinkActive= "active">main module</a>
    <a href="#" routerLink = "" routerLinkActive= "active">Logout</a>
    </div>
  </mat-toolbar>
</html>